MERGE (c:Character {id: "{{ character }}"})
MERGE (d:Ideology {id: "{{ ideology }}"})
MERGE (c)-[r:BELIEVES_IN {
    {% include "_relation_meta.j2" %}
    description: "{{ description }}"
}]->(d)

{% set related_node_ids = [character, ideology] %}
