MERGE (a:Character {id: "{{ character_a }}"})
MERGE (b:Character {id: "{{ character_b }}"})
WITH a, b
CALL apoc.create.relationship(a, '{{ relation_type|upper }}_OF', {
    {% include "_relation_meta.j2" %}
    description: "{{ description }}"
}, b) YIELD rel

{% set related_node_ids = [character_a, character_b] %}
