MATCH (c:Character {id: "{{ character }}"})-[r:OWNS_ITEM]->(i:Item {id: "{{ item }}"})
{% include "_augment_filters.j2" %}
{% set return_relation = '"OWNS_ITEM"' %}
{% set return_value = 'i.name AS value' %}
{% include "_augment_meta.j2" %}
