MATCH (c:Character {id: "{{ character }}"})-[r:HAS_TITLE]->(t:Title {id: "{{ title_name }}"})
{% include "_augment_filters.j2" %}
{% set return_relation = '"HAS_TITLE"' %}
{% set return_value = 't.name AS value' %}
{% include "_augment_meta.j2" %}
