fastapi
uvicorn
pydantic
pydantic-settings>=2.0.3
fastapi_camelcase
debugpy
asyncpg
pytest-asyncio
httpx
greenlet
langchain
langchain-openai
weaviate-client
jinja2
neo4j
langfuse
numpy
mypy
pre-commit
