MATCH (a:Character {id: "{{ attacker }}"})-[r:ATTACKS]->(b:Character)
{% include "_augment_filters.j2" %}
{% set return_relation = 'type(r)' %}
{% set return_value   = 'b.id AS target' %}
{% include "_augment_meta.j2" %}
