MATCH (c:Character {id: "{{ character }}"})-[r:`{{ emotion|upper }}_OF`]->(t:Character)
{% include "_augment_filters.j2" %}
{% set return_relation = 'type(r)' %}
{% set return_value = 't.id AS target' %}
{% include "_augment_meta.j2" %}
