MERGE (a:Character {id: "{{ character }}"})
MERGE (b:Faction {id: "{{ faction }}"})
MERGE (a)-[r:MEMBER_OF {
    {% include "_relation_meta.j2" %}
}]->(b)

{% set related_node_ids = [character, faction] %}
