MERGE (c:Character {id: "{{ character }}"})
MERGE (t:Trait {id: "{{ trait }}"})
MERGE (c)-[r:HAS_TRAIT {
    {% include "_relation_meta.j2" %}
}]->(t)

{% set related_node_ids = [character, trait] %}
